{
  "plugins": ["prettier-plugin-jinja-template", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./static/css/app.css",
  "printWidth": 9999,
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["templates/**/*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
